// Brand colors:

// Primary
$darker-blue: #0C2759;
$medium-blue: #538BF0;
$lighter-blue: #2DC7ED;

// Secondary
$darker-blue-2: #435D8D;
$medium-blue-2: #5FB8FC;
$lighter-blue-2: #7BE4FE;

// Auxuliary
$red: #EB3D3D;
$red-light: #F05454;
$red-dark: #D03333;

$green: #32D957;
$green-light: #50E170;
$green-dark: #28BB49;

$yellow: #FFCE52;
$yellow-light: #FFD76B;
$yellow-dark: #D9B043;

// White colors
$white-blue: #F2F7FF;
$white-blue-2: #E0ECFF;
$white-light: #FEFBFF;
$white-dark: #EDEAEF;

// Black colors
$black: #232224;
$black-light: #353436;
$black-dark: #161617;

//Gray colors
$gray-1: #454446;
$gray-2: #555456;
$gray-3: #666566;
$gray-4: #767576;
$gray-5: #868587;
$gray-6: #969597;
$gray-7: #A6A6A7;

// Gradient colors
$dark-gradient: linear-gradient(180deg, #538BF0 0%, #0C2759 100%);
$lighter-gradient: linear-gradient(270deg, #538BF0 0%, #2DC7ED 100%);