// Project layout

// Container devices

$container-xl: 1440px;
$container-l: 1140px;
$container-m: 960px;
$container-s: 540px;

// Media queries mixins
@mixin responsive($device) {
    @if $device == xl {
        // For resolutions upper than 1440px
        @media screen and (min-width: $container-xl) {
            @content;
        }
    }

    @else if $device == l {
        // For resolutions between 1440px and 1140px
        @media screen and (max-width: $container-xl) and (min-width: $container-l) {
            @content;
        }
    }

    @else if $device == m {
        // For resolutions between 1140px and 960px
        @media screen and (max-width: $container-l) and (min-width: $container-m) {
            @content;
        }
    }

    @else if $device == s {
        // For resolutions less than 960px
        @media screen and (max-width: $container-m) {
            @content;
        }
    }

    @else if $device == xs {
        // For resolutions less than 540px
        @media screen and (max-width: $container-s) {
            @content;
        }
    }
}

.container {
    max-width: $container-xl;
    margin: 0 auto;

    padding: 96px 24px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;

    @include responsive(s){
        flex-direction: column;
        padding: 32px 18px;
    }
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    justify-content: column;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-item-1 {
    flex: 1 1 360px;
}

.flex-item-2 {
    flex: 2 1 360px;
}

.flex-item-3 {
    flex: 3 1 360px;
}

.flex-item-4 {
    flex: 4 1 360px;
}

.flex-item-5 {
    flex: 5 1 360px;
}

.flex-item-auto {
    flex: 2 1 auto;
}

.width-auto {
    width: auto;
}

.width-100 {
    width: 100%;
}

.width-75 {
    width: 75%;
}

.width-50 {
    width: 50%;
}

.width-25 {
    width: 25%;
}

.hidden {
    overflow: hidden;
}

// Hero

.hero {
    height: 100vh;

    @include responsive(s){
        height: auto;
    }
}

.rocket {
    @include responsive(s){
        margin: 0 !important;
        margin-bottom: 16px;

        svg {
            height: 280px;
            width: 280px;
        }
    }
}

.profile {
    @include responsive(s){
        margin: 0 !important;
    }
}

.profile-photo {
    padding-right: 240px;
    margin-bottom: 16px;

    @include responsive(s){
        padding: 0 !important;
        margin-top: 64px !important;
    }
}

.introduction {
    @include responsive(l){
        margin-left: 48px;
    }

    @include responsive(s){
        h2 {
            margin: 0;
            font-size: 2.4rem;
            text-align: center;
        }

        h4 {
            font-size: 1.6rem;
            text-align: center;
        }

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 !important;
    }
}

.intro {
    color: $darker-blue;

    @include responsive(l) {
        font-size: 4.2rem;
    }

    @include responsive(m) {
        font-size: 4.2rem;
    }
}

.UI-phrase {
    color: $gray-4;

    @include responsive(s){
        margin: 0 !important;
    }
}

.bar {
    width: 100%;
    height: 32px;
    background-color: $darker-blue;
}

.effect {
    position: relative;

    &::before {
        content: '';
        position: absolute;

        top: -40%;

        width: 10%;
        height: 6px;

        background: $lighter-gradient;

        @include responsive(s){
            height: 2px;
            top: -20%;
        }
    }
}

.effect-2 {
    position: relative;

    &::after {
        content: '';
        position: absolute;

        top: 130%;
        left: 73%;

        width: 10%;
        height: 6px;

        background: $lighter-gradient;

        @include responsive(s){
            height: 2px;
            width: 10%;
            top: 110%;
            left: 90%;
        }
    }
}

// Sobre mim

.list-item {
    list-style: none;
    position: relative;
    padding: 8px 8px 8px 72px;
    margin-bottom: 48px;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: -8px;

        display: block;

        width: 64px;
        height: 64px;
        border-radius: 10px;
    }
}

.about-me {
    @include responsive(s){
        margin: 0 36px;
    }

    @include responsive(l) {
        margin: 0 48px;
    }
}

.figboy-1 {
    @include responsive(s){
        margin: 0 !important;
    }
}

.figboy-2 {
    @include responsive(s){
        svg {
            height: 500px;
        }
    }
}

// Skills

.skill-cards {
    @include responsive(s){
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

// Contato

.contact {
    @include responsive(s){
        margin: 0 36px;
    }
}

// Footer
footer {
    display: block;
    background: $darker-blue;
}

.footer {
    padding: 32px 32px;
}

.p-footer {
    color: $white-light;
    font-size: 2rem;

    @include responsive(s){
        font-size: 1.4rem;
    }
}