header {
    width: 100%;
    height: 90px;
    background-color: $darker-blue;
    box-shadow: none;
    transition: .5s ease;
    position: fixed;
    z-index: 800;
}

.active-header {
    a {
        color: $medium-blue;
    }
    
    .btn {
        color: $white-light;
    }

    background-color: $white-blue;
    box-shadow: 0px 62px 152px rgba(95, 184, 252, 0.19), 
    0px 18.6912px 45.8236px rgba(95, 184, 252, 0.123802), 
    0px 7.76336px 19.0328px rgba(95, 184, 252, 0.095), 
    0px 2.80786px 6.88378px rgba(95, 184, 252, 0.0661981);
}

//Desktop

.navbar-desktop {
    max-width: $container-xl;
    margin: 0 auto;
    padding: 10px 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @include responsive(s) {
        display: none;
    }
}

.logo {
    width: 90px;
    height: 72px;

    z-index: 800;
    
    display: flex;
    justify-content: center;
    align-items: center;

    @include responsive(s){
        width: 80px;
    }
}

.navbar-desktop-item-1 {
    flex: 1 1 auto;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar-desktop-item-2 {
    flex: 1 1 auto;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu-desktop {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .menu-item {
        margin-left: 16px;
        position: relative;
    }
}

.navlink-desktop {
    color: white;
    font-family: 'Sora', sans-serif;
    font-size: 1.6rem;
    line-height: 150%;
}

// Mobile

.navbar-mobile {
    max-width: $container-xl;
    margin: 0 auto;
    padding: 10px 24px;

    display: none;

    @include responsive(s) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.bx {
    width: 36px;
    height: 36px;

    position: relative;
    cursor: pointer;
    z-index: 800;
    transition: .7s ease;
    
    &::after {
        content: '';
        position: absolute;
        transition: .7s ease;

        top: 40%;
        left: 15%;
        width: 70%;
        height: 2px;
        background-color: $lighter-blue-2;
    }
    
    &::before {
        content: '';
        position: absolute;
        transition: .7s ease;

        top: 64%;
        left: 15%;
        width: 70%;
        height: 2px;
        background-color: $medium-blue-2;
    }
}

.active-bx {
    width: 36px;
    height: 36px;

    position: relative;
    cursor: pointer;
    z-index: 800;
    transition: .7s ease;

    &::after {
        content: '';
        position: absolute;

        top: 50%;
        left: 15%;

        transform: rotate(-135deg);

        width: 70%;
        height: 2px;
        background-color: $medium-blue-2;
    }
    
    &::before {
        content: '';
        position: absolute;

        top: 50%;
        left: 15%;

        transform: rotate(315deg);

        width: 70%;
        height: 2px;
        background-color: $lighter-blue-2;
    }
}

.menu-mobile {
    width: 100vw;
    height: 110vh;

    background-color: $darker-blue;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;

    transition: .7s ease;

    transform: translate3d(0, -100px, 0);
}

.active-menu-mobile {
    opacity: 1;
    pointer-events: all;
}

.nav-list-mobile {
    max-width: $container-xl;
    list-style: none;

    display: flex;
    flex-direction: column;

    svg {
        width: 36px;
        height: 36px;
        

        path {
            stroke: $white-light;
            transition: .7s ease;
        }

        &:hover {
            path {
                stroke: $lighter-blue-2
            }
        }
    }
}

.nav-link-mobile {
    display: inline-block;
    @include typeface-Sora(h3, desktop);
    color: $white-light;

    padding: 16px 24px;

    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 90%;
        left: 16px;

        transition: 1s ease;

        width: 0;
        height: 2px;

        background-color: $lighter-blue-2;
    }

    &:hover {
        color: $lighter-blue-2;

        &::after {
            width: 100%;
        }
    }
}