@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Poppins:wght@100;300;400;700&display=swap');

:root {
    --blue: #243665;
    --megaman: #3dc1d3;
    --turquoise: #8BD8BD;
    --white: #F2F5FA;
    --rose: #e66767;
    --black: #2d3436;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--black);
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
    color: var(--turquoise);
}

h2 {
    margin-left: 3px;
}

h3 {
    font-size: 2.5rem;
}

nav>ul>li {
    padding-right: 70px;
    padding-left: 50px;
    text-align: center;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--turquoise);
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 4px;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    width: 840px;
}

/* ----- Header -----*/
.image-main img {
    width: 100%;
    height: 70vh;
}

.perfil img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 6px solid var(--turquoise);
}

.perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: -180px;
}

.logo {
    margin-top: 14px;
    font-size: 2rem;
}

.logo-p {
    font-size: 1rem;
    text-align: center;
    margin: 0;
}

.nav {
    height: 5rem;
    width: 100%;
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav a:hover {
    color: var(--megaman);
}

.profile-icons {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    font-size: 30px;
    padding-right: 15px;
    padding-left: 15px;
    color: var(--turquoise);
}

.profile-icons:hover {
    color: var(--megaman);
}

/* ----- Sobre mim ----- */
#wrapper {
    margin: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    padding: 100px;
    width: 99vw;
    height: 700px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.major {
    font-size: 2.25rem;
    padding-bottom: 30px;
}

.first-title {
    text-align: left;
}

/* ----- Projetos ----- */
#three {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 180px;
}

.features img {
    width: 500px;
    height: 250px;
}

.features {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.first-project {
    padding-top: 60px;
}

.second-project {
    padding-top: 80px;
    margin-right: 30px;
}

.inner {
    margin-top: 40px;
}

.inner-text {
    font-size: 1.3rem;
    width: 500px;
    margin-bottom: 30px;
}

.project-text {
    margin-right: 100px;
    width: 500px;
}

/* ----- Skills e Hobbies -----*/
#two {
    background-color: var(--blue);
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 180px;
}

.feature-icons {
    text-decoration: none;
    list-style-type: none;
    margin-top: 70px;
    margin-bottom: 40px;
    font-size: 18px;
}

.fa-code {
    color: var(--turquoise);
    margin-right: 30px;
}

.fa-cubes {
    color: var(--turquoise);
    margin-right: 30px;
}

.fa-book-open {
    color: var(--turquoise);
    margin-right: 30px;
}

.fa-mug-hot {
    color: var(--turquoise);
    margin-right: 30px;
}

.fa-bolt {
    color: var(--turquoise);
    margin-right: 30px;
}

.fa-users {
    color: var(--turquoise);
    margin-right: 30px;
}

.skill-text {
    justify-content: left;
}

/* ----- Entre em contato -----*/
.last-container {
    background-color: var(--blue);
    padding: 100px;
    width: 99vw;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.icon-text {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
}

.icons {
    list-style-type: none;
    text-decoration: none;
    margin: 10px;
    padding: 4px;
    font-size: 20px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
}

.icons:hover {
    color: var(--turquoise);
}

/* ----- Footer -----*/
#footer {
    background-color: var(--turquoise);
    width: 99vw;
    height: 100%;
}

.container-footer {
    padding: 40px;
    width: 99vw;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-footer ul li {
    text-decoration: none;
    list-style-type: none;
    color: var(--blue);
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 2px;
}