@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100;400&display=swap');

:root {
    --ciano: #358597;
    --coral: #F4A896;
    --branco: #F2F9FA;
    --rose: #e66767;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2d3436;
    color: var(--branco);
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    height: 100vh;
}

h1, h2, h3, h4 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 200;
    letter-spacing: 3px;
    color: var(--coral);
}

h2 {
    margin-left: 3px;
}

h3 {
    font-size: 2.5rem;
}

nav>ul>li {
    padding-right: 70px;
    padding-left: 50px;
    text-align: center;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--coral);
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 4px;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-right: 200px;
}

article {
    padding-top: 60px;
}

.nav a:hover {
    color: var(--rose);
}

.image-main img {
    width: 100vw;
    height: 70vh;
}

.nav {
    height: 5rem;
    width: 100vw;
    background-color: var(--ciano);
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 6px solid var(--coral);
}

.perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: -180px;
}

.logo {
    margin-top: 14px;
    font-size: 2rem;
}

.logo-p {
    font-size: 1rem;
    text-align: center;
    margin: 0;
}

#wrapper {
    margin: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.major {
    font-size: 2.25rem;
    padding-bottom: 30px;
}

.first-title {
    text-align: left;
}

#two {
    background-color: var(--ciano);
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 70px;
}

.container {
    padding: 100px;
    width: 100vw;
    height: 700px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.feature-icons {
    text-decoration: none;
    list-style-type: none;
    margin-top: 70px;
    margin-bottom: 40px;
    font-size: 18px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.fa-code {
    color: var(--coral);
    margin-right: 30px;
}

.fa-cubes {
    color: var(--coral);
    margin-right: 30px;
}

.fa-book-open {
    color: var(--coral);
    margin-right: 30px;
}

.fa-mug-hot {
    color: var(--coral);
    margin-right: 30px;
}

.fa-bolt {
    color: var(--coral);
    margin-right: 30px;
}

.fa-users {
    color: var(--coral);
    margin-right: 30px;
}

.features img {
    margin-top: 40px;
    width: 500px;
    height: 250px;
}

.features {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin: 0 100px;
}

.last-container {
    background-color: var(--ciano);
    padding: 100px;
    width: 100vw;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.icon-text {
    margin-left: 190px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
}

.icons {
    list-style-type: none;
    text-decoration: none;
    padding: 15px;
    font-size: 16px;
}

.icons:hover {
    color: var(--branco);
}

#footer {
    background-color: var(--coral);
    width: 100vw;
    height: 100%;
}

.container-footer {
    padding: 40px;
    width: 100vw;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-footer ul li {
    text-decoration: none;
    list-style-type: none;
    color: var(--ciano);
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 2px;
}

.inner {
    margin-top: 40px;
}

.inner-text {
    font-size: 1.3rem;
}

.profile-icons {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    font-size: 30px;
    padding-right: 15px;
    padding-left: 15px;
    color: var(--coral);
}

.profile-icons:hover {
    color: var(--ciano);
}