$purple: #5D18CD;
$purple-light: #EADDF1;
$purple-medium: #B185DB;
$purple-dark: #6247AA;
$white: #FFFFFF;
$white-purple: #F6F2FF;
$gray-light: #D7D7D7;
$gray-dark: #909090;
$black: #1A1A1A;
$black-medium: #2D3436;
$black-light: #353B48;