.container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $white-purple;
}

.container-items {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    @include responsive() {
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
}

.container-item1 svg {
    width: 500px;
    height: 460px;
    
    @include responsive() {
        width: 220px;
        height: 180px;
        margin-top: 10px;
    }
}

.container-item2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 80px;

    @include responsive() {
        margin: 0;
    }
}

.container-item2 svg {
    width: 200px;
    height: 200px;

    @include responsive() {
        width: 150px;
        height: 150px;
    }
}

.avatar {
    margin-bottom: 72px;

    @include responsive() {
        margin-bottom: 20px;
    }
}

.intro svg {
    width: 500px;
    height: 160px;
    margin-bottom: 40px;

    @include responsive() {
        width: 250px;
        height: 90px;
    }
}

.saiba-mais {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.saiba-mais-text {
    margin: 20px 0;

    @include responsive() {
        margin: 0;
    }
}

.saiba-mais-text svg {
    width: 150px;

    @include responsive() {
        width: 80px;
    }
}

.btn-saiba-mais svg {
    width: 50px;
    height: 50px;

    @include responsive() {
        width: 30px;
        height: 30px;
    }
}

.purple-bar {
    width: 100%;
    height: 42px;
    margin-top: 20px;
    background: $purple-dark;
}

.about-me {
    width: 100%;
    height: 3000px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: $white-purple;
}

.about-me-svg svg {
    margin: 95px 0;
    width: 250px;

    @include responsive() {
        width: 160px;
    }
}

.abm-text {
    margin-left: 50px;
    margin-right: 50px;
}

.abm-text h1 {
    width: 925px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    color: $black-medium;
    margin-bottom: 32px;

    @include responsive() {
        width: 100%;
        font-size: 18px;
    }
}

.abm-text p {
    width: 950px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
    color: $black-light;

    @include responsive() {
        width: 100%;
        font-size: 12px;
    }
}

.divider {
    margin-top: 124px;
    margin-bottom: 96px;

    @include responsive() {
        width: 100px;
        margin: 40px 0;
    }
}

.hobbies svg {
    width: 70px;
    height: 70px;

    @include responsive() {
        width: 100%;
    }
}

.hobbies {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    @include responsive() {
        flex-direction: column;
    }
}

.hobbies svg {
    @include responsive() {
        width: 40px;
        height: 40px;
    }
}

.hobby-items1 {
    width: 405.05px;
    align-items: center;

    @include responsive() {
        width: 345px;
    }
}

.hobby-items2 {
    align-items: center;
    
    @include responsive() {
        width: 345px;
    }
}

.box-1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tag {
    margin-right: 20px;
    margin-bottom: 16px;
}

.hobby-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    color: $black-medium;

    @include responsive() {
        font-size: 12px;
    }
}

.box-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cubes {
    margin-right: 20px;
    margin-bottom: 16px;
}

.box-3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.coffee {
    margin-right: 20px;
    margin-bottom: 16px;
}

.book {
    margin-right: 20px;
    margin-bottom: 16px;
}

.bolt {
    margin-right: 20px;
    margin-bottom: 16px;
}

.team {
    margin-right: 20px;
    margin-bottom: 16px;
}